.logo {
  align-items: center;
  text-align: center;
}
.gray {
  align-items: center;
  text-align: center;
  background-color: lightgray;
}
.buttons {
  align-items: center;
  text-align: center;
  /* display: flex; */
}
.blue {
  display: flex;
}
.lightblue {
  display: block;
}
.darkblue {
  display: flex;
}
